{{> navigation}}
<!-- Responsive slider - START -->
<div class="responsive-slider-parallax" data-spy="responsive-slider" data-parallax="true" data-parallax-direction="-1" data-transitiontime="1000" data-autoplay="true">
    <div class="slides-container" data-group="slides">
        <ul>
            <li>
                <div class="slide-body" data-group="slide">
                    <div class="container">
                        <div class="wrapper">
                            <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="0" data-length="300">
                                <h2>Neat theme</h2>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="300" data-length="300"><span>Clean and modern design</span></p>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="500" data-length="300"><span>Lightweight</span></p>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="700" data-length="300"><span>Standards compliant</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slide-body" data-group="slide">
                    <div class="container">
                        <div class="wrapper">
                            <div class="caption header text-center" data-animate="slideAppearUpToDown" data-delay="0" data-length="300">
                                <h2>Twitter Boostrap</h2>
                                <p class="sub" data-animate="slideAppearDownToUp" data-delay="300" data-length="300"><span>Compatible with version 3</span></p>
                                <p class="sub" data-animate="slideAppearDownToUp" data-delay="500" data-length="300"><span>Perfectly compatible with grid system</span></p>
                                <p class="sub" data-animate="slideAppearDownToUp" data-delay="700" data-length="300"><span>Bootstrap compatible Slider and Calendar plugins</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slide-body" data-group="slide">
                    <div class="container">
                        <div class="wrapper">
                            <div class="caption header text-right" data-animate="slideAppearDownToUp" data-delay="0" data-length="300">
                                <h2>Html <span style="font-weight: 300"><span class="color-alizarin">c</span><span class="color-carrot">o</span><span class="color-sun-flower">l</span><span class="color-emerald">o</span><span class="color-peter-river">r</span></span> classes</h2>
                                <p class="sub" data-animate="slideAppearUpToDown" data-delay="300" data-length="300"><span>"Flat UI" colors palette</span></p>
                                <p class="sub" data-animate="slideAppearUpToDown" data-delay="500" data-length="300"><span>Made to modify any layout element</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <a class="slider-control left hidden-xs hidden-sm" href="#" data-jump="prev"><i class="fa fa-angle-left"></i></a>
    <a class="slider-control right hidden-xs hidden-sm" href="#" data-jump="next"><i class="fa fa-angle-right"></i></a>
    <div class="pages-wrapper background-black">
        <ol class="pages">
            <li><a data-jump-to="1">1</a></li>
            <li><a data-jump-to="2">2</a></li>
            <li><a data-jump-to="3">3</a></li>
        </ol>
    </div>
</div>
<!-- Responsive slider - END -->
</div>

<!-- Info thumbnails - START -->
<section class="">
    <div class="container">
        <h1 class="text-center x-large">{{data.home.thumbnailTitle}}</h1>
        <p class="lead text-center">{{{data.home.thumbnailContent}}}</p>
        <div class="row">
            {{#each data.thumbnails}}
                <div class="col-sm-4 col-md-4">
                    <div class="info-thumbnail-link">
                        <div class="thumbnail info-thumbnail with-icon background-clouds color-text">
                            <img src="{{image.url}}" alt="...">
                            <div class="icon">
                            <span class="fa-stack">
                              <i class="fa fa-circle fa-stack-2x color-lead"></i>
                              <i class="fa fa-flag fa-stack-1x color-white"></i>
                            </span>
                            </div>
                            <div class="caption bordered background-white">
                                <h3>{{name}}</h3>
                                {{{content}}}
                                <p class="buttons"><a href="{{moreUrl}}" class="btn btn-lead">Read more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- Info thumbnails - END -->
{{{data.content}}}

<!-- Clients - END -->
