{{> navigation}}
<!-- Responsive slider - START -->
<div class="responsive-slider-parallax" data-spy="responsive-slider" data-parallax="true" data-parallax-direction="-1" data-transitiontime="1000" data-autoplay="true">
    <div class="slides-container" data-group="slides">
        <ul>
            <li>
                <div class="slide-body" data-group="slide">
                    <div class="container">
                        <div class="wrapper">
                            <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="0" data-length="300">
                                <h2>Neat theme</h2>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="300" data-length="300"><span>Clean and modern design</span></p>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="500" data-length="300"><span>Lightweight</span></p>
                                <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="700" data-length="300"><span>Standards compliant</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slide-body" data-group="slide">
                    <div class="container">
                        <div class="wrapper">
                            <div class="caption header text-center" data-animate="slideAppearUpToDown" data-delay="0" data-length="300">
                                <h2>Twitter Boostrap</h2>
                                <p class="sub" data-animate="slideAppearDownToUp" data-delay="300" data-length="300"><span>Compatible with version 3</span></p>
                                <p class="sub" data-animate="slideAppearDownToUp" data-delay="500" data-length="300"><span>Perfectly compatible with grid system</span></p>
                                <p class="sub" data-animate="slideAppearDownToUp" data-delay="700" data-length="300"><span>Bootstrap compatible Slider and Calendar plugins</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="slide-body" data-group="slide">
                    <div class="container">
                        <div class="wrapper">
                            <div class="caption header text-right" data-animate="slideAppearDownToUp" data-delay="0" data-length="300">
                                <h2>Html <span style="font-weight: 300"><span class="color-alizarin">c</span><span class="color-carrot">o</span><span class="color-sun-flower">l</span><span class="color-emerald">o</span><span class="color-peter-river">r</span></span> classes</h2>
                                <p class="sub" data-animate="slideAppearUpToDown" data-delay="300" data-length="300"><span>"Flat UI" colors palette</span></p>
                                <p class="sub" data-animate="slideAppearUpToDown" data-delay="500" data-length="300"><span>Made to modify any layout element</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <a class="slider-control left hidden-xs hidden-sm" href="#" data-jump="prev"><i class="fa fa-angle-left"></i></a>
    <a class="slider-control right hidden-xs hidden-sm" href="#" data-jump="next"><i class="fa fa-angle-right"></i></a>
    <div class="pages-wrapper background-black">
        <ol class="pages">
            <li><a data-jump-to="1">1</a></li>
            <li><a data-jump-to="2">2</a></li>
            <li><a data-jump-to="3">3</a></li>
        </ol>
    </div>
</div>
<!-- Responsive slider - END -->
</div>

<!-- Info thumbnails - START -->
<section class="">
    <div class="container">
        <h1 class="text-center x-large">Information thumbnails</h1>
        <p class="lead text-center">Information thumbnails are the workhorse of entire template. You can use them to display any type of content and there are many ways for you to play with them: you can change the colours, add and remove elements and change their order, add icons...</p>
        <div class="row">
            {{#each data.thumbnails}}
                <div class="col-sm-4 col-md-4">
                    <div class="info-thumbnail-link">
                        <div class="thumbnail info-thumbnail with-icon background-clouds color-text">
                            <img src="{{localFile image.path}}/{{image.filename}}" alt="...">
                            <div class="icon">
                            <span class="fa-stack">
                              <i class="fa fa-circle fa-stack-2x color-lead"></i>
                              <i class="fa fa-flag fa-stack-1x color-white"></i>
                            </span>
                            </div>
                            <div class="caption bordered background-white">
                                <h3>{{name}}</h3>
                                {{{content}}}
                                <p class="buttons"><a href="{{moreUrl}}" class="btn btn-lead">Read more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- Info thumbnails - END -->

<!-- Info row - START -->
<section class="border background-clouds color-black">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="info-row">
                    <div class="content info">
                        <h1 class="info-head"><span>Info row</span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet, lectus vitae hendrerit consequat, tellus sapien tincidunt massa, sit amet convallis libero massa at magna. Aliquam ullamcorper metus eget ultricies auctor. Nulla et iaculis lectus, nec pharetra libero. Vivamus eget urna risus. Nam gravida feugiat consequat. In a risus sit amet dui venenatis sodales.</p>
                    </div>
                    <div class="content link">
                        <a href="#" class="btn btn-lead btn-lg pull-right">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Info row - END -->

<!-- Info thumbnails - START -->
<section class="border">
    <div class="container">
        <h1><span>Information thumbnails alternatives</span></h1>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail background-clouds color-black">
                        <img src="/images/img1.jpg" alt="...">
                        <div class="caption">
                            <h3>Font awesome</h3>
                            <p class="description">NEAT template supports as much modern technologies and trends as possible. One of them is font awesome icons. This great set of fonts is avaliable anywere you want on your page. Some of NEAT ui elements are also using font awesome like this info thumbnails.</p>
                            <p class="buttons"><a href="#" class="btn btn-lead">Read more</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail background-alizarin color-white">
                        <img src="/images/img2.jpg" alt="...">
                        <div class="caption">
                            <h3>Color classes</h3>
                            <p class="description">You can use template elements as you have them in the examples but if you feel creative you can compose our own color combinations in ui elements. You have beutiful set of flat ui colors to work with just use <i>color-{color-name}</i> or <i>background-{color-name}</i> to change text color or background of any element on the page.</p>
                            <p class="buttons"><a href="#" class="btn btn-default">Read more</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail info-thumbnail background-clouds color-text">
                    <img src="/images/img3.jpg" alt="...">
                    <div class="caption bordered background-white">
                        <h3>No hover effect</h3>
                        <p class="description color-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh, sit amet commodo sapien tristique at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras bibendum erat at ultricies rhoncus.</p>
                        <p class="buttons"><a href="#" class="btn btn-lead">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Info thumbnails - END -->

<!-- Calendar - START -->
<section class="border background-white color-black">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="no-border large text-right">Responsive calendar</h1>
                <p class="lead text-right">With NEAT you are getting the Responsive Calendar plugin. It's a very flexible, multipurpose jQuery calendar widget that you can use anywhere on your website. Visit <a href="http://w3widgets.com/responsive-calendar">w3widgets.com/responsive-calendar</a> for more info and documentation.</p>
            </div>
            <div class="col-md-5">
                <!-- Responsive calendar - START -->
                <div class="responsive-calendar background-lead color-white">
                    <div class="controls">
                        <a class="btn btn-lead darken pull-left" data-go="prev"><i class="fa fa-chevron-left"></i></a>
                        <a class="btn btn-lead darken pull-right" data-go="next"><i class="fa fa-chevron-right"></i></a>
                        <h4><span data-head-year></span> <span data-head-month></span></h4>
                    </div>
                    <div class="day-headers">
                        <div class="day header">Mon</div>
                        <div class="day header">Tue</div>
                        <div class="day header">Wed</div>
                        <div class="day header">Thu</div>
                        <div class="day header">Fri</div>
                        <div class="day header">Sat</div>
                        <div class="day header">Sun</div>
                    </div>
                    <div class="days color-white" data-group="days">
                        <!-- the place where days will be generated -->
                    </div>
                </div>
                <!-- Responsive calendar - END -->
            </div>
        </div>
    </div>
</section>
<!-- Calendar - END -->

<!-- Info - START -->
<section class="border background-white color-black">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="thumbnail info-thumbnail color-text">
                    <img src="/images/neat-1.2.0.png" alt="...">
                </div>
            </div>
            <div class="col-md-7">
                <h1 class="no-border large text-left">Many possibilities</h1>
                <p class="lead text-left">Neat have many possible color combinations. You can easily re-color sections and individual elements by simply setting a background-* or color-* of your choice. You can even change menu background and choose from 5 pre-defined color scheme.</p>
            </div>
        </div>
    </div>
</section>
<!-- Info - END -->

<!-- Portfolio MixItUp - START -->
<section class="border background-clouds color-black">
    <div class="container">
        <h1 class="text-center x-large">Our Projects</h1>
        <p class="lead text-center">Thumbanil sorter is powered by <a href="http://mixitup.io">MixItUp</a> filter and sort plugin. It means you can sort or filter your thumbnails in any way you want. To know more don't hesitate to read the <a href="http://mixitup.io/#Documentation">documentation</a>.<br>And yes, you can use it on any thumbnail element, not only on services tiles.</p>
        <ul class="text-center filters">
            <li class="filter" data-filter="all"><a>All</a></li>
            <li class="filter" data-filter="cat1"><a>Category 1</a></li>
            <li class="filter" data-filter="cat2"><a>Category 2</a></li>
        </ul>
        <div id="mixit" class="row">
            <div class="col-sm-6 col-md-4 mix cat1">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
                        </div>
                        <img class="round" src="/images/gallery/g1.jpg" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mix cat2">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
                        </div>
                        <img class="round"  src="/images/gallery/g2.jpg" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mix cat1">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
                        </div>
                        <img class="round"  src="/images/gallery/g3.jpg" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mix cat1">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
                        </div>
                        <img class="round"  src="/images/gallery/g4.jpg" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mix cat2">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
                        </div>
                        <img class="round"  src="/images/gallery/g5.jpg" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mix cat2">
                <div class="info-thumbnail-link">
                    <div class="thumbnail info-thumbnail color-text">
                        <div class="service">
                            <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
                        </div>
                        <img class="round"  src="/images/gallery/g6.jpg" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio MixItUp - END -->

<!-- Clients - START -->
<section class="image-bg color-white" style="background-image: url('/images/image-bg.jpg')">
    <div class="container">
        <div class="reduce-top-margin">
            <h1 class="no-border">They trusted us</h1>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <a href="http://w3widget.com" class="thumbnail gallery-thumbnail">
                        <img class="img-circle" src="/images/w3w-logo.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <a href="http://w3widget.com" class="thumbnail gallery-thumbnail">
                        <img class="img-circle" src="/images/w3w-logo-2.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <a href="http://w3widget.com" class="thumbnail gallery-thumbnail">
                        <img class="img-circle" src="/images/w3w-logo-3.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <a href="http://w3widget.com" class="thumbnail gallery-thumbnail">
                        <img class="img-circle" src="/images/w3w-logo-4.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <a href="http://w3widget.com" class="thumbnail gallery-thumbnail">
                        <img class="img-circle" src="/images/w3w-logo.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <a href="http://w3widget.com" class="thumbnail gallery-thumbnail">
                        <img class="img-circle" src="/images/w3w-logo-3.png" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Clients - END -->
