{{> navigation}}
{{> breadcrumb}}
<section>
    <div class="container">
        <div class="col-md-3">
            <div class="list-group bright background-clouds color-text">
                <div class="list-group-item"><h3>Menu</h3>
                    <a href="/profile/" class="list-group-item active">Profile</a>
                    <a href="/profile/" class="list-group-item">Calculator</a>
                    <a href="/profile/" class="list-group-item">Quick Quote</a>
                    <a href="/profile/" class="list-group-item">Referrals</a>
                    <a href="/profile/" class="list-group-item">Solar Party</a>
                    <a href="/profile/" class="list-group-item">Maintenance</a>
                    <a href="/profile/" class="list-group-item">Monitoring</a>
                    <a href="/profile/" class="list-group-item">Evaluation</a>
                    <a href="/profile/" class="list-group-item">Support</a>
                    <a href="/profile/" class="list-group-item">Contact</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="content">
                <h1><span>Emmanuel Nelson</span></h1>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#home" role="tab" data-toggle="tab">Your Information</a></li>
                    <li><a href="#project" role="tab" data-toggle="tab">Project Information</a></li>
                    <li><a href="#referrals" role="tab" data-toggle="tab">Referrals</a></li>
                    <li><a href="#our-info" role="tab" data-toggle="tab">Our Information</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <h3>Your Information:</h3>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td class="bold">Company</td>
                                <td>{{data.user.name.first}} {{data.user.name.last}}</td>
                                <td class="bold">Work Phone</td>
                                <td>{{data.user.workPhone}}</td>
                                <td class="bold">Address</td>
                                <td>{{data.user.address}}</td>
                            </tr>
                            <tr>
                                <td class="bold">Contact</td>
                                <td>{{data.user.name.first}} {{data.user.name.last}}</td>
                                <td class="bold">Home Phone</td>
                                <td>{{data.user.homePhone}}</td>
                                <td class="bold">Suite #</td>
                                <td>{{data.user.unit}}</td>
                            </tr>
                            <tr>
                                <td class="bold">Prefix</td>
                                <td>{{data.user.prefix}}</td>
                                <td class="bold">Cell Phone</td>
                                <td>{{data.user.cellPhone}}</td>
                                <td class="bold">City</td>
                                <td>{{data.user.city}}</td>
                            </tr>
                            <tr>
                                <td class="bold">Department</td>
                                <td>{{data.user.department}}</td>
                                <td class="bold">Fax</td>
                                <td>{{data.user.fax}}</td>
                                <td class="bold">State</td>
                                <td>{{data.user.state}}</td>
                            </tr>
                            <tr>
                                <td class="bold">Title</td>
                                <td>{{data.user.title}}</td>
                                <td class="bold">Email</td>
                                <td>{{data.user.email}}</td>
                                <td class="bold">Postal Code</td>
                                <td>{{data.user.zip}}</td>
                            </tr>
                            <tr>
                                <td class="bold"></td>
                                <td></td>
                                <td class="bold">Web Site</td>
                                <td>{{data.user.webSite}}</td>
                                <td class="bold">Country</td>
                                <td>{{data.user.country}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="project">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Project Information</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            Proposal <br>
                                            <a href="/linktopposal">Proposal #1</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Agreements <br>
                                            Agreement #1
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    Status
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="referrals">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Referrals</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span>Referral #1</span> | <span>Status</span><span>Credited: Y</span><br>
                                            <span>Referral #1</span> | <span>Status</span><span>Credited: Y</span><br>
                                            <span>Referral #1</span> | <span>Status</span><span>Credited: Y</span><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="our-info">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Our Information</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span>Energy Consultant</span><br>
                                            <span>Name</span><br>
                                            <span>Email@email.com</span><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>

